body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
            background-color: #f4f6f9;
            transition: margin-left 0.3s ease;
            overflow-x: hidden;
        }


.content {
    margin-left: 220px;
    padding: 20px;
    transition: margin-left 0.3s ease; /* Adjusts content margin when navbar toggles */
}

.navbar.collapsed ~ .content {
    margin-left: 60px; /* Adjusts content margin when navbar is collapsed */
}

.content h1, .content p {
    text-align: center;
}

.table-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    transition: width 0.3s ease; /* Smooth transition for table resizing */
}

.table-container.collapsed {
    width: calc(100% - 80px); /* Adjust width when sidebar is collapsed */
}

.table-container.expanded {
    width: calc(100% - 240px); /* Adjust width when sidebar is expanded */
}

.card-deck {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-title {
    font-weight: bold;
    color: rgb(37, 150, 190);
}

.card-text {
    font-size: 24px;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1; /* Light grey background on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.content {
    padding: 20px;
}

.navigation-section {
    margin-top: 20px;
}

.navigation-section h3 {
    margin-bottom: 15px;
}

.navigation-section ul {
    list-style-type: none;
}

.navigation-section ul li {
    margin-bottom: 10px;
}

.navigation-section button {
    margin-right: 10px;
    margin-bottom: 10px;
}
